.Tablecontainer {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 1px;
    margin-top: 30px;
    margin-left: 30px;
  }
  
.FormComponent{
  width: 260px;
  height: 315px;
  display: flex;
  flex-direction: column;
  border: 2px solid #725AC1;
  border-radius: 15px;
  box-shadow: inset 0 0 0 0 #757575;
  color: #725AC1;
  border: 2px solid #725AC1;
  padding: 10px 15px;
}
form{
  margin-top: 15px;
}
input{
  height: 30px;
  width: 220px;
  border-radius: 10px;
  border: 2px solid #725AC1;
  box-shadow: inset 0 0 0 0 #725AC1;
  margin-top: 7px;
  padding-left: 8px;
}

.addbutton{
  margin-top: 50px;
}

button{

width: 115px;
height: 45px;
 position: relative;
 display: inline-block;
 margin: 15px;
 padding: 10px 15px;
 text-align: center;
 font-size: 18px;
 letter-spacing: 1px;
 text-decoration: none;
 color: #725AC1;
 background: transparent;
 cursor: pointer;
 transition: ease-out 0.5s;
 border-radius: 30px;
 border: 2px solid #725AC1;
 border-radius: 10px;
 box-shadow: inset 0 0 0 0 #725AC1;
}
button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
 }
 
 button:active {
  transform: scale(0.9);
 }
 .tableSearch{
   margin-left: 50px;
 }
table {
    border-collapse: collapse;
    width: 600px;
    box-shadow: inset 0 0 0 0 #725AC1;
    
  }
 
  th{
    text-align: left;
    padding: 4px;
    font-size: 10px;
    width: 45px;
    height: 15px;
    border: 0.5px solid #725AC1 ;
    margin-top: 20px;
  }
  
  .reportcontainer{

  }


 .reportinsidecontainer{
    border-radius: 30px;
    border: 2px solid #725AC1;
    margin: 15px;
    padding: 10px 15px;
    text-align: left;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
 }
  